*.aux
*.out
.DS_Store
*.synctex.gz
*.log
*.pdf
*\~
*.bbl
*.blg
*.toc
\#*
*\#
.\#*
La.tex
main.synctex*
!Notes*
*latexmk
*fls
*latexmain
*swp
texput*
*.pdfsynca
.ipynb*
*pdfsync
*fuse_hidden*
*(busy)
*Angel\ et\ al
*physionet.org
*test-datasets
*scratch*
*data
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*predicting-*
